
<div class="screate">
    <h2>ENTER DETAILS</h2>
    <label class="l"></label><input type="text" [(ngModel)]="id" class="small" placeholder="Enter ID...">
    <label class="l"></label><input type="text" [(ngModel)]="date" class="small" placeholder="Enter DATE..."><br>
    <label></label><input type="text" [(ngModel)]="title" placeholder="Enter TITLE...">
    <label></label><input type="text" [(ngModel)]="desc" placeholder="Enter DESCRIPTION..."><br>
    <button class="btn" (click)="additem()"><i class="fa fa-plus"></i> Add Item</button><br><br>
</div>
